<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpEncoding encoding="UTF-8" />
    <httpProtocol>
      <customHeaders>
        <add name="Content-Type" value="application/json; charset=utf-8" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
